.intro {
    height: 100vh;
    width: 100%;
    // .intro__wrapper

    &__wrapper {
        background: #fff url(../img/intro-bg.png) center center/cover no-repeat;
        filter: blur(5px);
        padding: 84px 446px 192px 94px;
    }

    // .intro__title

    &__title {
        margin: 84px 0 61px 0;
        width: 849px;
    }

    // .intro__subtitle

    &__subtitle {
        font-family: $ffm;
        font-style: italic;
        font-weight: bold;
        font-size: 32px;
        line-height: 85px;
    }
}
