<header class="header">
    <div class="header__wrapper">
        <div class="header__logo"><a href="/"><img src="./src/img/svg/header__logo.svg" alt="logo"
                    class="header__logo-pic"></a></div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-item"><a href="/" class="nav__list-item-link">Главная</a></li>
                <li class="nav__list-item"><a href="" class="nav__list-item-link">Разделы</a></li>
                <li class="nav__list-item"><a href="" class="nav__list-item-link">О проекте</a></li>
                <li class="nav__list-item"><a href="" class="nav__list-item-link"><img src="./src/img/svg/vk.svg" alt=""
                            class="vk-logo"></a></li>
            </ul>
        </nav>
    </div>
</header>