.about__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 127px;
}
.about__title {
    font-family: $ffh;
    font-style: normal;
    font-weight: bold;
    @include fza(16, 45);
    line-height: 44px;
}
