<div class="blog" id="blog">
    <div class="wrapper">
        <div class="blog__wrapper">
            <!--!MAIN START-->

            <div class="blog__inner-wrapper">
                <div class="mega-title">Blog</div>
                <div class="section">
                    <div class="content-row">
                        <div class="news__title title-of-presentations">UI Interactions of the week</div>
                        <div class="post__date-type">
                            <span class="post__date">12 Feb 2019</span>
                            <span class="post__project-type">Express, Handlebars</span>
                        </div>
                        <div class="post__content default__main-text">Amet minim mollit non deserunt ullamco est sit
                            aliqua
                            dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam
                            consequat sunt nostrud amet.</div>
                    </div>
                    <div class="content-row">
                        <div class="news__title title-of-presentations">UI Interactions of the week</div>
                        <div class="post__date-type">
                            <span class="post__date">12 Feb 2019</span>
                            <span class="post__project-type">Express, Handlebars</span>
                        </div>
                        <div class="post__content default__main-text">Amet minim mollit non deserunt ullamco est sit
                            aliqua
                            dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam
                            consequat sunt nostrud amet.</div>
                    </div>
                    <div class="content-row">
                        <div class="news__title title-of-presentations">UI Interactions of the week</div>
                        <div class="post__date-type">
                            <span class="post__date">12 Feb 2019</span>
                            <span class="post__project-type">Express, Handlebars</span>
                        </div>
                        <div class="post__content default__main-text">Amet minim mollit non deserunt ullamco est sit
                            aliqua
                            dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam
                            consequat sunt nostrud amet.</div>
                    </div>
                </div>
            </div>

            <!--!MAIN END-->
        </div>
    </div>
</div>