<div class="cards" id="cards">
    <div class="wrapper">
        <div class="cards__wrapper">
            <div class="cards__grid">
                <!--1-->
                <div class="cards__card">
                    <div class="card__img"><img src="./src/img/card.png" alt="" class="card__img-pic"></div>
                    <div class="card__body">
                        <div class="card__title">
                            long established
                        </div>
                        <div class="card__content">
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page
                            when looking at its layout. The point of using Lorem Ipsum is that....
                        </div>
                        <div class="card__bottom">
                            <div class="scbel scbel__date">May 20th 2020</div>
                            <div class="scbel scbel__more">Read more</div>
                        </div>
                    </div>
                </div>
                <!--2-->
                <div class="cards__card">
                    <div class="card__img"><img src="./src/img/card.png" alt="" class="card__img-pic"></div>
                    <div class="card__body">
                        <div class="card__title">
                            long established
                        </div>
                        <div class="card__content">
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page
                            when looking at its layout. The point of using Lorem Ipsum is that....
                        </div>
                        <div class="card__bottom">
                            <div class="scbel scbel__date">May 20th 2020</div>
                            <div class="scbel scbel__more">Read more</div>
                        </div>
                    </div>
                </div>
                <!--3-->
                <div class="cards__card">
                    <div class="card__img"><img src="./src/img/card.png" alt="" class="card__img-pic"></div>
                    <div class="card__body">
                        <div class="card__title">
                            long established
                        </div>
                        <div class="card__content">
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page
                            when looking at its layout. The point of using Lorem Ipsum is that....
                        </div>
                        <div class="card__bottom">
                            <div class="scbel scbel__date">May 20th 2020</div>
                            <div class="scbel scbel__more">Read more</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>