<div class="large" id="large">
    <div class="wrapper">
        <div class="large__wrapper">
            <div class="large__card">

                <div class="large__card__content">
                    <div class="large__card__content__title">What is Lorem Ipsum?</div>
                    <div class="large__card__content__main">It is a long established fact that a reader will be
                        distracted by the readable content of a page when looking at its layout. The point of using
                        Lorem Ipsum is that....</div>
                    <div class="large__card__content__bottom">
                        <div class="scbel scbel__date">May 20th 2020</div>
                        <div class="scbel scbel__more">Read more</div>
                    </div>
                </div>
                <div class="large__card__img">
                    <img src="./src/img/t-card.png" alt="" class="large__card__img-pic">
                </div>

            </div>
        </div>
    </div>
</div>