<div class="system" id="system">
    <div class="wrapper">
        <div class="system__wrapper">
            <div class="system__title __title">
                Новая система блога
            </div>
            <div class="system__card">

                <div class="system__card__content">
                    <div class="system__card__content__title">long established</div>
                    <div class="system__card__content__main">It is a long established fact that a reader will be
                        distracted by the readable content of a page when looking at its layout. The point of using
                        Lorem Ipsum is that....</div>
                    <div class="system__card__content__bottom">
                        <div class="scbel scbel__date">May 20th 2020</div>
                        <div class="scbel scbel__more">Read more</div>
                    </div>
                </div>
                <div class="system__card__img">
                    <img src="./src/img/lc-img.png" alt="" class="system__card__img-pic">
                </div>

            </div>
        </div>
    </div>
</div>