@import "_adaptive";
@import "_fonts";

$dc: black;

$wrapper: 1389;

$fixedheaderheight: 98;

.__title {
    font-family: $ffm;
    font-style: italic;
    font-weight: bold;
    @include fza(12, 64);
    line-height: 5.3125rem;
}
