.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright__text {
    font-family: $ffh;
    font-weight: 500;
    @include fza(14, 30);
    line-height: 44px;
    color: #000;
}
